html {
    height: 100%;
    width: 100%;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica,'Helvetica Neue', sans-serif;
}

nav #logo {
  position: fixed;
  width: 100px;
  font-size: 8rem;
  color: black;
  line-height: 4rem;
  left: 25px;
  top: 40px;
}


nav {
  position: fixed;
  height: 100vh;
  width: 5rem;
  font-size: 8rem;
  padding-left: 80px;
  line-height: 8rem;
  background: red;
  overflow: hidden;
  transition: width 1s ease;
}

nav:hover, nav.pinned {
  width: 40rem;
  background-color: black;
}

nav a {
  color: #EEE;
  text-decoration: none;
  display: table;
  width: 10rem;
}

nav a:hover {
  color: #00993b;
}

nav a .fa {
  width: 4rem;
  display: table-cell;
  font-size: 2rem;
  padding: 1rem 0;
  text-align: center;
}

nav a.label {
  display: table-cell;
}

section {
  padding: 2rem 5rem 2rem 9rem;
  min-height: 100vh;
}


.clearit {
  clear: both;
}

body {
	background-color: none;
	font-family: Helvetica;
	font-size: 5rem;
	line-height: 60px;
	-webkit-font-smoothing: antialiased;
	overflow: scroll;
}    

#pageTop {
	position: fixed;
	width: 300px;
	right: -120px;
	bottom: 30px;
	color: #00993b;
}   

.logo {
	display: block;
	width: 400px;
	margin-left: 120px;
	padding-top: 30px;
}

button {
	display: block;
	position: absolute;
	left: 540px;
	top: 6px;
	font-size: 5.5rem;
	color: black;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline;
}

button:hover {
	color: red;
} 

p {
	width: 100%;
	margin: 0px;
	padding-left: 120px;
	padding-top: 15px;
	padding-bottom: 20px;
    font-size: 5.75rem;
    line-height: 5.8rem;
	font-family: Helvetica;
	color: black;
	display: none;
}

nav .menu{
	display: block;
	position: fixed;
	width: 450px;
	left: 500px;
	font-size: 5rem;
	line-height: 5rem;
}

div {
	font-size: 5rem;
	line-height: 5rem;
	left: 20px;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

div .music {
    position: relative;
    width: 500px;
	left: 120px;
	z-index: -1;
}


/*
font-family: 'Jomhuria', cursive;
font-family: 'Mirza', cursive;
font-family: 'Rakkas', cursive;
font-family: 'Work Sans', sans-serif;
*/
